volumes:
  zmcache:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /zoneminder/zmcache
  zmlog:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /zoneminder/zmlog
  zmapachelog:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /zoneminder/zmapachelog
  db:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /zoneminder/db

services:
  mariadb:
    image: mariadb:11.8
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --default-time-zone=America/New_York
    volumes:
      - db:/var/lib/mysql:Z
    environment:
      - MYSQL_PASSWORD=zmpass
      - MYSQL_DATABASE=zm
      - MYSQL_USER=zmuser
      - MARIADB_ROOT_PASSWORD=w8t67u23789t
      - TZ=America/New_York
  zm:
    image: ghcr.io/jantman/docker-zoneminder:latest
    restart: always
    shm_size: 1G
    ports:
      - 8080:80
      - 9000:9000
      - 1984:1984
      - 8555:8555
    depends_on:
      - mariadb
    tmpfs:
      - /run
      - /tmp
    volumes:
      - zmcache:/var/cache/zoneminder:Z
      - zmlog:/var/log/zm:Z
      - zmapachelog:/var/log/apache2:Z
      - ./data/es_rules.json:/etc/zm/es_rules.json:Z
      - ./data/secrets.ini:/etc/zm/secrets.ini:Z
      - ./data/zmeventnotification.ini:/etc/zm/zmeventnotification.ini:Z
      - ./data/objectconfig.ini:/etc/zm/objectconfig.ini:Z
    environment:
      - TZ=America/New_York

